body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#top {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    justify-content: center;
    border: 3px solid black;
}

